<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
   </head>
   <body>
      <div class="row top-menu">
         <div class="col-md-10"></div>
         <div class="col-md-2 text-right">
            <a href="{{url_for('showLogin')}}">Click Here to Log in </a>
         </div>
      </div>
      <div class="row divider blue">
         <div class="col-md-12"></div>
      </div>
      <div class="row banner main">
         <div class="col-md-1"></div>
         <div class="col-md-11 padding-none">
            <h1>Categories</h1>
         </div>
      </div>
      <div class = 'flash'>
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         <ul>
            {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
         </ul>
         {% endif %}
         {% endwith %}
      </div>
      <div class="container" id="categories">
         {% for category in categories %}
         <div class="row">
            <div class="details row">
               <div class="col-xs-6" id="name">
                  <a href="{{url_for('showStudios', category_id = category.id)}}">
                     <h2>{{category.name}}</h2>
                  </a>
               </div>
               <div class="col-xs-6" id="modify">
                  <p><a href="{{url_for('editCategory',category_id = category.id)}}">Edit</a> | <a href="{{url_for('deleteCategory',category_id = category.id)}}">Delete</a></p>
               </div>
            </div>
            <br>
            <div class="row" id="main_img">
               <img class="img-responsive" src="/static/images/{{category.name.lower()}}.jpg" alt="{{category.name}}">
            </div>
         </div>
         <br>
         <br> {% endfor %}
      </div>
      <br>
      <br>
      <div class="new">
         <a href="{{url_for('newCategory')}}">Create a New Category</a>
      </div>
      <br>
      <br>
      </div>
   </body>
</html>
